Repository newrelic/node-test-utilities, pull requests merged in 2020-10, with the labels that each got.

#66 Creates config instance to pass to agent
  lib/agent.js
Labels: risk:low, semver:patch

#67 Release v4.1.2
  CHANGELOG.md
Labels: risk:low, semver:patch

#69 Adds Node 14 to CI configuration.
  .github/workflows/ci-workflow.yml
Labels: risk:low, semver:minor

#71 Remove Node v8.x from CI
  .github/workflows/ci-workflow.yml
  package.json
Labels: risk:low, semver:major
